# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=publisher_db

# Node Environment
NODE_ENV=production

# API Configuration
API_PORT=3000

# Middleware Configuration
MIDDLEWARE_ADDR=middleware:9000
MIDDLEWARE_CLIENT_PORT=9000
MIDDLEWARE_PEER_PORT=9100

# Frontend Configuration
FRONTEND_PORT=80
