# Server
PORT=3000

# PostgreSQL - Prisma requires DATABASE_URL in this format:
# postgresql://[user[:password]@][host][:port][/database]
#
# Local example (default PostgreSQL):
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/publisher_db
#
# Remote example (AWS RDS, Heroku, etc):
# DATABASE_URL=postgresql://user:password@host.region.rds.amazonaws.com:5432/publisher_db
DATABASE_URL=postgresql://user:password@localhost:5432/publisher_db
